*, *::before, *::after {
    box-sizing: border-box;
}
* {
    margin: 0;
} 
body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    /* margin-left: 5vw;
    margin-right: 5vw; maybe put margins if page gets too wide */
}
img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}
input, button, textarea, select {
    font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}
p {
    text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
}
#root, #__next {
    isolation: isolate;
}
@font-face {
    font-family: "norse";
    src:
      url("fonts/Norse-Bold.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}


.page{
    display: flex;
    flex-direction: row;
}

.panel{
    position: relative;
}

.left{
    height: 100vh;
    width: 45vw;
}

#background{
   height: 100%;
   width: 100%;
}

#logo{
    height: 125px;
}

.logo-panel{
    position: absolute;
    top: 140px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: .5em;

    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font: 2.5rem "norse";
    width: 100%;
}

.credits{
    position: absolute; 
    width: 100%;
    bottom: 8px;
    font: .7em sans-serif;
    color: white;
    text-align: center;
}

.right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    width: 100%;

    background-color: rgb(241, 241, 241);
}

.upper-text{
    margin-bottom: 1em;
}
.upper-text,
.upper-text + p,
form > P{
    font: bold 1.5em sans-serif;
    
}

.right>p{
    padding: 0 13vw 0 4vw;
}

form{
    background-color: white;
    padding: 3vh 4vw 5vh;
    margin: 6vh 0vw 0vh;
    box-shadow: 0px 2px 8px rgb(192, 191, 191);
}


.overall-form{
    display: flex;
    flex-direction: row;
}
.left-form > p{
    margin: 0 0 10px 0;
}

.overall-form > div > div{
    display: flex;
    flex-direction: column;
    margin: 20px 100px 0px 0px;
}

label{
    color: rgb(104, 103, 103);
    font: 700 .7em sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 3px;
}

input{
    padding: 5px;
    border: 1px solid #E5E7EB;
    border-radius: 5px;
    width: 250px;
    
    font: 1em sans-serif;
}


input:focus{
    box-shadow: 4px 4px 5px rgba(129, 129, 129, 0.5);
}

button{
    background-color: #596D48;
    border-radius: 8px;
    border: none;
    padding: .9em 3.1em;
    margin: 2em 4vw;
    width: fit-content;

    font: bold 1em sans-serif;
    color: white;
    box-shadow: 2px 4px 4px rgba(175, 175, 175, 0.514);
}

button + p{
    font: 500 1em sans-serif;
}

p > a{
    text-decoration: none;
    font-weight: bold;
    color:#596D48;
}


/* add password validation */
#password:invalid,
#password-confirm:invalid{
    outline: rgb(219, 0, 0) solid 1px;
}

/* why do i need span */
#password:invalid + span::after{
    position: absolute;
    content: "* Passwords do not match";
    font: .7em sans-serif; 
    color: rgb(219, 0, 0);
}